html,
body {
  margin: 0;
  height: 100%;
  overflow-x: clip;
}

#root {
  height: 100%;
}

@media print {
  #root {
    overflow-x: unset;
  }
}

@media screen {
  #root {
    & > div:before {
      content: '';
      position: absolute;
      top: -200px;
      left: -200px;
      width: 400px;
      height: 400px;
      background: #c989e8;
      opacity: 0.5;
      filter: blur(200px);
    }

    & > div:after {
      content: '';
      position: absolute;
      top: -200px;
      right: -200px;
      width: 400px;
      height: 400px;
      background: #b3d4ff;
      opacity: 0.5;
      filter: blur(200px);
    }

    & > div,
    & > div > div {
      z-index: 1;
      position: relative;
    }
  }
}
